<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Добро пожаловать в приложение!</h1>
<b>Вы можете создать нового пользователя: </b>
<a href="/users/new">Добавить пользователя</a>
<br>
<br>
<b>Вы можете посмотреть всех пользователей: </b>
<a href="/users">Список пользователей</a>
<h2>Поиск пользователя по ID</h2>
<form th:method="GET" th:action="@{/showUserById}" th:object="${user}">
    <input type="text" th:name="id"/>
    <input type="submit" value="Поиск"/>
</form>
</body>
</html>
