<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<h1>Список пользователей</h1>
<h2 th:text="${message}" th:style="'color: red'"></h2>
<div th:each="user : ${users}">
    <a th:href="@{/showUserById(id=${user.getId()})}"
       th:text="${user.getId()} + ' '+ ${user.getFirstName()} +' '+ ${user.getLastName()}+' '+ ${user.getEmail()}"></a>
</div>
<hr>
<a href="/users/new">Добавить пользователя</a>
<br>
<a href="/">На Главную</a>

</body>
</html>